body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0em;
  margin: 0em;
}

.menu-visited-color {
  color:#201b4ff2 !important;
}

a:visited {
  color: #2c3e50;
}

.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 2em;
  margin: 0.5em;
  border-radius: 5px;
  background: linear-gradient(to right, #16c0b0, #84cf6a);
  font-size: 1em;
  color: white;
  border: none;
  outline: none;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 15em; */  /* ✅ Changed Sass comment to CSS comment */
  width: 100%;
  margin-bottom: 2em;
}

form .add-form {  /* ✅ Unnested from form */
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

form .text-style {  /* ✅ Unnested from form */
  border-style: groove;
  border-width: 1px;
  border-color: lightgray;
}

form #login-field {  /* ✅ Unnested from form */
  width: 50%;
  border-width: 1px;
  border-style: groove;
  border-color: lightgray;
}

form p {  /* ✅ Unnested from form */
  font-size: 12px;
}

form li {  /* ✅ Unnested from form */
  font-size: 12px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.6em;
  padding: 0.5em;
  margin-bottom: 1em;
  font: 1em 'Avenir', Helvetica, sans-serif;
}

h1 {
  margin-top: 0;
}