.toolbar-title {
  flex: .7;
  margin-inline-start: 2px;
  text-align: left;
  width: 10rem;
}
.h3-title-sm {
  font-size: 1rem;
}
.div-frame {
  padding: .25rem;
}
.icon-css {
  color: #0D2336;
}
#background-blue {
  background-color: #7ba8bd;
  text-align: center;
}
#background-blue-right {
  background-color: #7ba8bd;
  text-align: right;
}
#background-blue-left {
  background-color: #7ba8bd;
  text-align: left;
}
#background-gray {
  background-color: #f7f6f6;
  text-align: center;
}
.td-center {
  text-align: center;
}
.div-center {
  text-align: center;
}
.ul-left {
  list-style-type: none;
  text-align: left;
}
.ul-dash {
  list-style-type: "-- ";
}
.ul-indented-left-dash {
  padding-left: .5rem;
  list-style-type: disc;
  text-align: left;
}
.ul-left-dash {
  list-style-type: "-- ";
  text-align: left;
}
#book-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -0.5rem !important;
  color: #00796b;
}
#book-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 1.5rem;
  font-size: 18px;
  color: #00796b;
}
#book-icon-delete {
  position: relative;
  top: -4rem;
  left: 2.3rem;
  font-size: 18px;
  color: #00796b;
}
#event-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -0.5rem !important;
  color: #00796b;
}
#event-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 1.5rem;
  font-size: 18px;
  color: #00796b;
}
#event-icon-delete {
  position: relative;
  top: -4rem;
  left: 2.3rem;
  font-size: 18px;
  color: #00796b;
}
#trail-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 0rem;
  font-size: 18px;
  color: #00796b;
}
#trail-icon-delete {
  position: relative;
  top: -4rem;
  left: 1.3rem;
  font-size: 18px;
  color: #00796b;
}
.textarea-style {
  width: 100%;
  border-style: groove;
  border-color: lightgray;
}
