.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-left: 1rem;
}
.cards-1-center {
  position: relative;
  left: 25%;
  width: 50%;
}
.card {
  /*border: 1px solid #ccc;*/
  background: #41b883;
  padding: 1rem;
  padding-top: 0em;
  border-radius: 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.card h4 {
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
.card-link {
  border: 1px solid #ccc;
  background: #41b883;
  padding: 1rem;
  padding-top: 0em;
  border-radius: 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.card-display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 25%;
  width: 50%;
  grid-gap: 1rem;
}
.form-card-display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 25%;
  width: 50%;
  grid-gap: 1rem;
}
#content-margin {
  margin-top: 7rem;
}
#menu-dropdown-div {
  width: 50%;
}
.select-status {
  width: 100%;
  border-style: groove;
  border-width: 1px;
  border-color: lightgray;
}
.toolbar-title {
  flex: .7;
  margin-inline-start: 2px;
  text-align: left;
  width: 10rem;
}
.h3-title-sm {
  font-size: 1rem;
}
#h3-left {
  text-align: left;
}
.h3-left-total-child {
  text-align: center;
  font-weight: normal;
  font-size: 1rem;

}
.div-frame {
  padding: .25rem;
}
.div-select {
  font-size: 1.5rem;
}
.icon-css {
  color: #0D2336;
}
#background-blue {
  background-color: #7ba8bd;
  text-align: center;
}
#background-blue-right {
  background-color: #7ba8bd;
  text-align: right;
}
#background-blue-left {
  background-color: #7ba8bd;
  text-align: left;
}
#background-gray {
  background-color: #f7f6f6;
  text-align: center;
}
#select-box-style {
  height: 140%
}
#p-custom-u {
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: bold;
}
#p-custom-link {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
}
#p-custom-left {
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}
#p-custom-left-u {
  text-decoration: underline;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}
#button-as-link {
  margin: auto;
  width: 12rem;
  height: 2rem;
  /*background-color: #7ba8bd; */
  background-color: #adb4b7;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
#button-as-link-wide { @extend #button-as-link;
  margin: auto;
  width: 20rem !important;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
#link-as-button {
  margin: auto;
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.th-center {
  text-align: center;
}
.td-center-capitalize {
  text-align: center;
  text-transform: capitalize;
}
.div-center {
  text-align: center;
}
.ul-left {
  text-align: left;
}
.ul-dash {
  list-style-type: "-- ";
}
.ul-indented-left-dash {
  padding-left: .5rem;
  list-style-type: disc;
  text-align: left;
}
.ul-left-dash {
  list-style-type: circle !important;
  text-align: left;
}
.li-left {
  text-align: left;
  display: list-item;
  list-style-type: disclosure-closed;
}
.li-left-capitalize {
  text-transform: capitalize;
  text-align: left;
  display: list-item;
  list-style-type: disclosure-closed;
}
.li-left-bold {
  text-align: left;
  font-weight: bold;
  display: list-item;
  list-style-type: disclosure-closed;
}
#long-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -1.75rem !important;
  color: #00796b;
}
#long-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: -0.5rem;
  font-size: 18px;
  color: #00796b;
}
#long-icon-delete {
  position: relative;
  top: -4rem;
  left: 1rem;
  font-size: 18px;
  color: #00796b;
}
.icon-stack {
  position: relative;
  left: -1rem;
}
#icon-block {
  border: none;
  text-align: center;
}
#card-medium-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -1rem !important;
  color: #fff;
}
#card-medium-block-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  color: #000;
}
#card-medium-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 1rem;
  font-size: 18px;
  color: #fff;
}
#card-medium-block-icon-eye {
  text-align: center;
  color: #000;
  position: relative;
  left: auto;
  top:  0rem;

}
#card-medium-icon-delete {
  position: relative;
  top: -4rem;
  left: 3.5rem;
  font-size: 18px;
  color: #fff;
}
#card-medium-block-icon-delete {
  position: relative;
  position: relative;
  left: auto;
  top:  0rem;
  font-size: 18px;
  color: #000;
}
#medium-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -0.5rem !important;
  color: #00796b;
}
#medium-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 1rem;
  font-size: 18px;
  color: #00796b;
}
#medlist-icon-eye {
  text-align: center;
  position: relative;
  top: -1.7rem;
  left: 1.3rem;
  font-size: 18px;
  color: #00796b;
}
#booklist-icon-eye {
  text-align: center;
  position: relative;
  top: -1.7rem;
  left: 1rem;
  font-size: 18px;
  color: #00796b;
}
#medium-icon-delete {
  position: relative;
  top: -4rem;
  left: 2.3rem;
  font-size: 18px;
  color: #00796b;
}
#medlist-icon-delete {
  position: relative;
  top: -3.6rem;
  left: 2.3rem;
  font-size: 18px;
  color: #00796b;
}
#booklist-icon-delete {
  position: relative;
  top: -3.6rem;
  left: 2.5rem;
  font-size: 18px;
  color: #00796b;
}
#event-icon-edit {
  text-align: center;
  position: relative;
  padding: 0;
  top: 0rem;
  left: -0.5rem !important;
  color: #00796b;
}
#event-icon-eye {
  text-align: center;
  position: relative;
  top: -1.7rem;
  left: 1.5rem;
  font-size: 18px;
  color: #00796b;
}
#event-icon-delete {
  position: relative;
  top: -3.6rem;
  left: 2.5rem;
  font-size: 18px;
  color: #00796b;
}
#card-outlet-icon-delete {
  position: relative;
  top: -2rem;
  left: 2rem;
  font-size: 18px;
  color: #fff;
}
.border-select {
  font-size: 1rem;
  text-align: center;
  margin-top: 16px;
  padding-top: 0rem;
  height: 2rem;
  width: 3rem;
  border-radius: 4px;
  border-style: solid;
  border-color: #7ba8bd;
}
.border-select, .select-range{
  width: 10rem;
  text-align: center;
}
#trail-icon-eye {
  text-align: center;
  position: relative;
  top: -2rem;
  left: 0rem;
  font-size: 18px;
  color: #00796b;
}
#trail-icon-delete {
  position: relative;
  top: -4rem;
  left: 1.3rem;
  font-size: 18px;
  color: #00796b;
}
.textarea-style {
  width: 100%;
  border-style: groove;
  border-color: lightgray;
  height: 140%;
}
